{% extends "base.html" %}

{% block content %}

<div class="p-4">
    <input type="text" name="search" hx-post="/search/" hx-trigger="keyup changed delay:250ms" hx-target="#results"
        placeholder="Item" class="form-control form-control-lg" />
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="results">
            {% include 'item.html' %}
        </tbody>
    </table>
</div>

{% endblock content %}